* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.85); /* Your Dark semi-transparent */
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 4px;
    margin: 0px;
    
    color: #a89984; 
    background: transparent;
    font-weight: bold;
}

#workspaces button.focused {
    color: #ccac56; 
    /* Optional: Add a subtle indicator for the active workspace */
    border-bottom: 2px solid #ccac56; 
}

#workspaces button.urgent {
    color: #cc241d; 
}

#workspaces button:hover {
    color: #ebdbb2; 
}

#custom-media {
    color: #ccac56;
    font-weight: bold;
    padding: 0 15px;
}

#clock {
    color: #ebdbb2;
    padding: 0 20px;
    font-weight: bold;
}
