window {
    /* Use your wallpaper as the background */
    background-image: url("/home/dia/Pictures/Wallpapers/classroom.jpg");
    background-size: cover;
    background-position: center;
}

#input-field {
    background-color: #282828;
    border: 2px solid #d79921;
    color: #ebdbb2;
    padding: 10px;
    margin-top: 0px;
}
